body {
  background-color: #263238;
  position: relative;
}
svg {
  animation: 0.5s fadeIn;
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hourHand {
  stroke: #F78C6C;
  stroke-width: 2;
}
.minuteHand {
  stroke: #F78C6C;
  stroke-width: 2;
}
.secondHand {
  stroke: #8F5F52;
  stroke-width: 1;
}
.outerRim {
  fill: transparent;
  stroke: #F78C6C;
  stroke-width: 1;
}
.innerDial {
  fill: #222d32;
  stroke: #F78C6C;
  stroke-width: 1;
}
.tickOne,
.tickTwo,
.tickThree,
.tickFour {
  stroke: #8F5F52;
  stroke-width: 1;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
